<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- ION CARD -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Profil</ion-card-subtitle>
        <ion-card-title>Nama Lengkap</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- ION GRID -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/temp.svg"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="/assets/temp.svg"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="/assets/temp.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/temp.svg"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="/assets/temp.svg"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img src="/assets/temp.svg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="book"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
